a{
    text-decoration: none;
    color: #F9FAF8;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;   
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h3{
    color: #E5E7EB;
}

p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 25px;
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;
    font-size: 24px;
    color: #F9FAF8;
}

.right{
    display: flex;
    gap: 30px;
}

.main.hero-intro{
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 200;
    height: 200;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 300px;
}

.images-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    display: flex;
    gap: 20px;
}

.cap{
    display: flex;
    width: 40px;
    gap: 50px;
    justify-content: left;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E5E7EB;
    font-size: 36px;
    font-weight: 300;
    height: 300px;
}

#sen{
    color: #1f2937;
}

#auth{
    color: #1f2937;
    font-weight: 800;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 30px 250px;
    padding: 50px;
    border-radius: 25px;
}

.text{
    display: flex;
    flex-direction: column;
    padding: 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 30px;
    color: #F9FAF8;
}